{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Tasker</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
  <header class="app-header">
    <div class="container row between center">
      <a class="brand" href="/">Tasker</a>
      <nav class="nav">
        <a href="/admin/" class="link">Админка</a>
        <span class="divider"></span>
        <span class="user">Привет, {{ request.user.username }}!</span>
      </nav>
    </div>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <div id="toast" class="toast"></div>
  <script>
    window.CSRF_TOKEN = "{{ csrf_token }}";
  </script>
  <script src="{% static 'js/app.js' %}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
